@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Success")
{
    <div class="alert alert-success" role="alert">
        All records inserted successfully
    </div>

}

else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Empty")
{
    <div class="alert alert-warning" role="alert">
        File is empty
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <label>Select Excel File</label>
        <input type="file" name="file" />
    </div>

    <br />

    <div class="row">
        <div class="col-3">
            <input type="submit" asp-controller="Asset_list" asp-action="UploadExcel" class="btn btn-dark" value="Upload Excel File" />
            <a class="btn btn-primary" href="/Home/" role="button">Back</a>
        </div>
    </div>

</form>