@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center">
    <p class="text-center ">
        <a class="btn btn-primary" href="/Asset_list/Index" role="button">Asset List</a>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Add new User</a>
    </p>
</div>
